on:
  push:
    branches:
      - master
  pull_request: {}
name: build
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest # or macOS-latest, or windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.10'
          cabal-version: 'latest'
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --run 'cabal update && cabal build all'
